/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import "/src/scss/variables";
.wp-block-mm-team-member {
	background-color: var(--background-color, #fff);
	color: #313C4C;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	//height: 100vh;
	margin: 0 auto;
	width: 300px;
	border-radius: 10px;

	.member-card {
		//background-color: var(--background-color, #fff);
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		text-align: center;
		padding: 20px;
		max-width: 100%;
		transition: transform 0.3s ease;
	}


	.team-card:hover {
		transform: translateY(-5px);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

	}

	.member-card:hover .member-photo {
		filter: brightness(0.8);
	}

	//.member-card:hover .profile-button {
	//	background-color: #A27B10;
	//	color: #fff;
	//}


	.member-photo {
		//max-width: 100%;
		height: auto;
		border-radius: 10px;
	}

	.member-photo img {
		border-radius: 10px;
		max-width: 100%
	}

	.member {
		//background-color: var(--background-color, #fff);
		//color: var(--background-color, #fff);
		font-size: 20px;
		font-weight: bold;
		//color: #313C4C;
		margin: 15px 0 5px;
		text-align: center;
		display: block;
		width: 100%;
	}

	.role {
		font-size: 16px;
		//color: #777;
		margin-bottom: 15px;
		text-align: center;
		display: block;
	}

	.profile-button {
		display: inline-block;
		text-decoration: none;
		//background: var(--background-color, #CBA454);
		//color: #fff;
		font-size: 16px;
		padding: 10px 15px;
		font-weight: bold;
		transition: background 0.3s ease;
	}

	.profile-button:hover {
		//background: #A27B10;
	}
}
